* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}
#box {
    background-image: url('./avatar.png');
    width: 150px;
    height: 150px;
    position: absolute;
    /* background: gray; */
    left: 200px;
    top: 200px;
    background-size: contain;
}